@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>Display movie to see if the basic MVC is working for Movie.</p>

@if (!Model.Any())
{
    <p>No movies to display.</p>  
}
else
{
    <table>
        <thead>
            <tr>
                <th>Movie Id</th>
                <th>Movie Name</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>movie id will go here</td>
            <td>movie name will go here</td>
        </tr>
        </tbody>
    </table>
}

