@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>Display movie to see if the basic MVC is working for Movie.</p>

@if (!Model.Any())
{
    <p>No movies to display.</p>  
}
else
{
    <p>Display movies here.</p>
}

