@model Vidly.Models.Customer
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>Just checking to see that everything is hooked up correctly.</p>

<p>@Model.Name</p>
